Build/**
Debug/**
DebugTest/**
EmscriptenBuild/**
WebBuild/**
Dependencies/**
Web/resources/codemirror/**
**/*_impl.hpp
**/*_impl.cpp
**/*_impl.inl
**/*_impl.proto.hpp
**/*.pyc
Runtime/**
Makefile
Web/resources/codemirror.css
Web/resources/codemirror.js
Test/**
notes.txt
