{%if base_namespace %}
namespace {{base_namespace}} {
{%- endif %}
  struct {{class_name}} {
    std::vector<std::uint64_t> steps;
  };
  inline bool operator==({{class_name}} const& lhs, {{class_name}} const& rhs) { return lhs.steps == rhs.steps; }
{%- if base_namespace %}
}
{%- endif %}
